*, *::before, *::after {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    overflow-x: hidden;
}
:root {
    --feinGuessColor: #5fa7ef ; /* correct guess */
    --landingBGColor: #e2e2e2;
}
.normalContrast {
    --mehGuessColor: #e8c55e; /* close guess */
    --mehAndFeinTextColor: #ffffff;
}
.highContrast {
    --mehGuessColor:  #ec6060;
    --mehAndFeinTextColor: #000000;
}
.light {
    --bgColor: #ffffff;
    --baseColor: #000000;
    --alertBGColor: #151515;
    --alertFontColor: #ffffff;
    --ripGuessColor: #7d7d7d; /* incorrect guess */
    --noGuessColor: #dcdcdc;
    --noGuessTextColor: #000000;
    --ripTextColor: #ffffff;
    --hoverColor: #dcdcdc;
    --overlayColor: #ffffff75;
    --fadedOverlayColor: #ffffff00;
}
.dark {
    --bgColor: #151515;
    --baseColor: #ffffff;
    --alertBGColor: #ffffff;
    --alertFontColor: #000000;
    --ripGuessColor: #474747;
    --noGuessColor: #7d7d7d;
    --noGuessTextColor: #ffffff; 
    --ripTextColor: #ffffff;
    --hoverColor: #474747;
    --overlayColor: #00000075;
    --fadedOverlayColor: #00000000;
}
button:hover {
    cursor: pointer;
}
.robotoExtraLight {
    font-weight: 300;
}
.robotoLight {
    font-weight: 400;
}
.robotoMedium {
    font-weight: 500;
}
.robotoBold {
    font-weight: 700;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes overlayFadeIn {
    0% {background-color: var(--fadedOverlayColor)}
    100% {background-color: var(--overlayColor);}
}
@keyframes overlayFadeOut {
    0% {background-color: var(--overlayColor)}
    100% {background-color: var(--fadedOverlayColor);}
}
@keyframes popUpFadeIn {
    0% {opacity: 0; transform: translateY(3rem);}
    100% {opacity: 1; transform: translateY(0rem);}
}
@keyframes popUpFadeOut {
    0% {opacity: 1; transform: translateY(0rem);}
    100% {opacity: 0; transform: translateY(3rem);}
}
@keyframes toggleOn {
    0% {transform: translateX(0rem);}
    100% {transform: translateX(0.85rem);}
}
@keyframes toggleOff {
    0% {transform: translateX(0.85rem);}
    100% {transform: translateX(0rem);}
}
@keyframes selectTile {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(1, 1);}
}
.fadingElement {
    animation-name: fadeOut;
    animation-timing-function: ease-out;
    animation-duration: 200ms;
}
.landingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--landingBGColor);
}
.landingPrompt {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}
.landingButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
@media only screen and (max-width: 750px) {
    .landingButtons {
        flex-direction: column;
    }
}
.landingButton {
    width: 10rem;
    height: 3.2rem;
    margin: 0.3rem;
    font-size: 1rem;
    border: 1rem solid #000000;
    border-radius: 2rem;
    border-width: 0.1rem;
    background-color: var(--landingBGColor);
}
.darkLandingButton {
    background-color: #000000;
    color: #ffffff;
}
.gameScreen {
    display: block;
}
.overlay {
    display: none;
    position: fixed;
    z-index: 21;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--overlayColor);
}
.overlayFadeIn {
    animation-name: overlayFadeIn;
    animation-duration: 200ms; 
    animation-timing-function: ease-out;
}
.overlayFadeOut {
    animation-name: overlayFadeOut;
    animation-duration: 200ms; 
    animation-timing-function: ease-out;
}
.popUp {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: inherit + 1;
    background-color: var(--bgColor);
    box-shadow: 0rem 0rem 1rem 0.125rem #00000025;
    border-radius: 0.3rem;
}
.popUpFadeIn {
    animation-name: popUpFadeIn;
    animation-duration: 200ms; 
    animation-timing-function: ease-out;
}
.popUpFadeOut {
    animation-name: popUpFadeOut;
    animation-duration: 200ms; 
    animation-timing-function: ease-out;
}
.settings {
    width: 32rem;
    height: 19rem;
    padding: 0.25rem;
}
.settingsHeader {
    display: block;
    width: inherit;
    height: 3rem;
}
.settingsTitle {
    text-align: center;
    height: inherit;
    padding-top: 0.25rem;
    font-size: 1.4rem;
}
.settingsExitButton {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 1.25rem;
    border: none;
    background-color: var(--bgColor);
}
.settingsExitButton > svg {
    padding: 0.75;
    height: inherit;
}
.settingsExitButton > svg > path {
    fill: var(--baseColor);
}
.settingsSection {
    display: flex;
    justify-content: space-between;
    width: 92%;
    border-bottom: 0.063rem solid var(--noGuessColor);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.settingsTextContainer {
    font-size: 0.9rem;
}
.lastSettingsSection {
    border: none;
}
.settingsToggle {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    border: none;
    width: 2.4rem;; /* 2, 1.25 */
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #7d7d7d; /* usable-unusable #7d7d7d #dcdcdc */
}
.settingsToggle > svg {
    align-self: center;
    height: inherit;
}
.toggleOn {
    animation-duration: 300ms;
    animation-name: toggleOn; /* change name, bg color, justify content */
}
.settingsToggle > svg > path {
    fill: #ffffff;
}
.howTo {
    display: none;
    width: 32rem;
    height: 41rem;
}
.signIn {
    display: none;
    width: 32rem;
    height: 41rem;
}
.stats {
    display: none;
    width: 32rem;
    height: 41rem;
}
body {
    background: var(--bgColor); 
}
header {
    display: flex;
    height: 3rem;
    color: var(--baseColor);
}
.title {
    flex: 1;
    padding-top: 0.4rem;
    text-align: center;
    height: inherit;
    font-size: 2rem;
    border-bottom: 0.063rem solid var(--noGuessColor);
}
.gameScreenSVGButton {
    border: 0px;
    border-bottom: 0.063rem solid var(--noGuessColor);
    width: auto;
    height: inherit;
    background-color: var(--bgColor);
}
.gameScreenSVGButton:hover {
    background-color: var(--hoverColor);
}
.disabledHeaderButton {
    background-color: var(--bgColor) !important;   
}
[aria-disabled="true"]:hover {
    cursor: not-allowed;
}
.gameScreenSVGButton > svg {
    padding: 0.75rem;
    height: inherit;
}
.gameScreenSVGButton > svg > path {
    fill: var(--baseColor);
}
.alertList {
    display: flex; /* flex */
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    gap: 1rem;
    padding-top: 1.35rem;
    z-index: 19; /* nice */
}
.alert {
    width: fit-content;
    height: 2.75rem;
    border-radius: 0.2rem;
    background-color: var(--baseColor);
    color: var(--alertFontColor);
    padding: 0.8rem;
    font-size: 0.95rem;
    animation: fadeOut 200ms 1500ms;
}
.dummyAlert {
    display: none;
}
.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guessGrid {
    display: grid;
    padding: 1rem;
    gap: 0.25rem 0.25rem;
    grid-template-columns: repeat(6, 3.5rem);
    grid-template-rows: repeat(6, 3.5rem);
}
.tile {
    max-width: 4rem;
    max-height: 4rem;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 2rem;
    border: 0.125rem solid var(--noGuessColor);
    color: var(--noGuessTextColor);
}
.selected {
    border-color: var(--ripGuessColor);
    animation: selectTile 300ms;
}
.keyboard {
    display: grid;
    gap: 0.3rem;
}
.row {
    display: flex;
    gap: 0.3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.25rem;
}
.key {
    width: 2.75rem;
    height: inherit;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    background-color: var(--noGuessColor);
    color: var(--noGuessTextColor);
}
.rip {
    background-color: var(--ripGuessColor);
    border-color: var(--ripGuessColor);
    color: var(--ripTextColor);
}
.meh {
    background-color: var(--mehGuessColor);
    border-color: var(--mehGuessColor);
    color: var(--mehAndFeinTextColor);
}
.fein {
    background-color: var(--feinGuessColor);
    border-color: var(--feinGuessColor);
    color: var(--mehAndFeinTextColor);
}
.enterAndDeleteKey {
    width: 4.5rem;
    font-size: 1rem;
}
.spaceBar {    
    width: 15rem;
}
.leftAndRightKey {
    width: 4rem;
}
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}

Use: transform: scaleX() for animation (100ms delays)
For hint button use: cursor:not allowed when disabled
Transition-duration for hover effects
*/
